@media screen and (max-width: 479px){

	#show{
		width: 100%;
		height: 360px;
		overflow-x: scroll;
}


    .slide li {
	display: inline;
}


    #primary {

	width:90%;
	height: 25%;
	float: left;


}

#secondary {

	width:80%;
	float:left;
	margin-left: 10%


}


}




@media screen and (min-width: 480px){
/************************
*  TWO COLUM LAYOUT		*
************************/

#primary {

	width:35%;
	float: left;
}

#secondary {

	width:40%;
	float:right;

}






/****************************************
*  PAGE PORTFOLIO THREE COLUM LAYOUT	*
*****************************************/

#gallery li {

	width:28.3333%;
}

#gallery li:nth-child(4n){
	clear: left;
}


/****************************************
*  PAGE PORTFOLIO THREE COLUM LAYOUT	*
*****************************************/

.profile-photo {
	float: left;
	margin: 0 5% 80px 0;
}

}
@media screen and (min-width: 660px){

/****************************************
*  PAGE PORTFOLIO THREE COLUM LAYOUT	*
*****************************************/
	
	nav{
		background:none;
		float:right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align:right;
		width:45%;
	}

#logo {
	float:left;
	margin-left: 5%;
	text-align: left;
	width: 45%;
}
h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 0.825em;
	margin-bottom: 20px;
}

header{
	border-bottom: 5px solid #599a68;
	margin-bottom:60px;


}
}